html,
body,
#app-box {
  width: 100%;
  height: 100%;
  background: url("../images/bg.jpg") repeat;
}
ul,
li {
  list-style: none;
}
.map-wrap {
  width: 100%;
  height: 100%;
  display: table;
}
.map-box {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
}
img[usemap] {
  border: none;
  height: auto;
  max-width: 100%;
  width: auto;
}
.details {
  margin: 0 auto;
  padding: 20px;
  height: 100%;
}
#editer {
  height: 100%;
  padding: 40px 40px 60px 40px;
  border-radius: 10px;
  background: #FFF;
}
#editer .title {
  text-align: center;
  padding: 10px;
  font-size: 30px;
}
#editer .infos {
  padding: 0 20px;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
#fixed-title {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 3rem;
  padding-top: 60px;
  line-height: 60px;
}
#fixed-back {
  position: fixed;
  right: 60px;
  bottom: 30px;
  width: 200px;
}
.clearbox {
  clear: both;
}
::-webkit-scrollbar {
  width: .5em;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  outline: none;
}
#info-box * {
  font-size: 2rem;
  padding: 0;
  margin: 0;
}
#info-box p {
  padding: 8px;
  text-indent: 2em;
}
#info-box img {
  max-width: 100%;
  float: left;
  margin-bottom: 20px;
}
